html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background-image: url('avila.png');
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 2.3em;}

h1
{
  font-size: xx-large !important;
}

h1, h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #CCC;
  margin: 0 0 0px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #1293EE;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #F05A00;}

a:hover
{ text-decoration: none;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #F79F00;
  height: 102px;}

#logo
{ width: 1000px;
  position: relative;
  height: 62px;
  }

#logo #logo_text 
{ position: absolute; 
  top: 0px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 5px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #F05A00;}

#logo_text h2
{ font-size: 100%;
  padding: 0;
  color: #FFF;}

#menubar
{ width: 1061px;
  height: 40px;
  background: url(menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  float: left; 
  height: 23px;
  padding: 12px 26px 5px 26px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #555555 url(menu_select.png) repeat-x;}

#site_content
{ width: 1000px;
  height:100%;
  overflow: hidden;
  padding: 20px 24px 10px 37px;
  background: rgba(50,50,50,0.7) repeat-y;} 

#content
{ text-align: left;
  width: 987px;
  height: 510px;
  overflow:auto;
  padding: 0;
  color:white;}

#footer
{ width: 1061px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 18px;
  padding: 11px 0 5px 0;
  background: url(footer.png) repeat-x;
  letter-spacing: 0.2em;}

table
{ margin: auto;
  margin-top: -5px;}

table tr td
{ color: #47433F;
  padding: 0 20px;
  }